.parking-spot-card {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin: 1.5rem;
  border-radius: 30rem;
  background-color: indigo;
  color: azure;
  text-align: center;
  max-width: 330px;
}

.spots-container {
  /* display: flex;
  flex-wrap: wrap; */
}

.login-form {
  width: 300px;
}

.new-spot-form, .login-form {
  display: flex;
  flex-direction: column;
  max-width: 450px; 
  background-color: indigo;
  border-radius: 30rem;
  color: azure;
  padding: 8rem;
  margin:1.5rem;
}

h1 {
  color: indigo;
  margin: 2.5rem 1.5rem;
}

.link {
  text-decoration: none;
  border: .5px solid indigo;
  padding: 1rem;
  margin:.5rem;
}

* {
  margin: 1rem;
}

input {
  padding: 1rem;
}
button {
  padding: 1rem;
  font-size: 1rem;
}