.parking-spot-card {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin: 1.5rem;
  border-radius: 50rem;;
  background-color: indigo;
  color: azure;
  text-align: center;
}

.spots-container {
  display: flex;
  flex-wrap: wrap;
}

.new-spot-form, .login-form {
  display: flex;
  flex-direction: column;
  max-width: 450px; 
  background-color: indigo;
  border-radius: 30rem;
  color: azure;
  padding: 8rem;
  margin:1.5rem;
}

h1 {
  color: indigo;
  margin: 1.5rem;
}